<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-pills">
    <li class="active"><a href="#tab1" data-toggle="tab">自行车</a></li>
    <li><a href="#tab2" data-toggle="tab">电脑</a></li>
	<li><a href="#tab3" data-toggle="tab">手机</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
		

		
		<ul class="thumbnails">
		  <% @items.each do |item| %>
		  <li class="span3">
		    <!-- <div class="thumbnail">
			  <%= link_to image_tag(item.excerpt_image.url(:thumb)), item_path(item) %>
              <h5><%= number_to_currency(item.price, :locale => 'zh-CN') %></h5>
			  <% if current_user && item.user == current_user %>
			  <%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %>
			  <% end %>
		    </div> -->
		    <a href="<%= item_path(item) %>" class="thumbnail">
			  <%= image_tag(item.excerpt_image.url(:thumb)) %>
		    </a>
			
		  </li>
		  <% end %>
		  
		</ul>
		
		<!-- <ul class="thumbnails">
		  <li class="span3">
		    <a href="#" class="thumbnail">
		      <img src="http://placehold.it/260x180" alt="">
		    </a>
		  </li>
		  ...
		</ul> -->
		
	  <!-- <table>
	    <tr>
	      <th>Title</th>
	      <th>Image url</th>
	      <th>Price</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>

	  <% @items.each do |item| %>
	 	    <tr>
	 	      <td><%= item.title %></td>
	 	      <td><%= item.image_url %></td>
	 	      <td><%= item.price %></td>
	 	      <td><%= link_to 'Show', item %></td>
	 	      <td><%= link_to 'Edit', edit_item_path(item) %></td>
	 	      <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
	 	    </tr>
	 	  <% end %>
	  </table> -->

	  <br />


      
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
	
  </div>
</div>

